{% load cms_tags sekizai_tags %}
{% load dajaxice_templatetags %}

<html>
  <head>
      {% render_block "css" %}
      
	  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-1.11.0.min.js"></script>
	  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-cookie/jquery.cookie.js"></script>
	  <script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
	 
	  
      {% dajaxice_js_import %}
	  

	  
  </head>
  <body>
	  {% addtoblock "css" %}
	  <link href="{{ STATIC_URL }}css/header.css" rel="stylesheet" type="text/css" />
	  <link href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css" />
	  
	  {% endaddtoblock %}

      {% cms_toolbar %}
	  <div id="top_quek" class="header_quek">
		  <div id="left" class="header_quek_cell">
			  <img src="{{ STATIC_URL }}images/lncrnadb_logo_32.png" alt="lncrna_logo" hspace="90">	
		  </div>
		  <div id="center" class="header_quek_cell">
			  <img class="header_icon" src="{{ STATIC_URL }}images/home_white.png">
			  <img class="header_icon" src="{{ STATIC_URL }}images/browse_white.png">
			  <img class="header_icon" src="{{ STATIC_URL }}images/submit_white.png">
			  <img class="header_icon" src="{{ STATIC_URL }}images/tools_icon_white.png">
			  <img class="header_icon" src="{{ STATIC_URL }}images/help_white.png">
			  <img class="header_icon" src="{{ STATIC_URL }}images/email_logo_white.png">
			  
			       
			  
			  
			  
			 
			  
		  </div>
		 
		  <div id ="right" class="header_quek_cell">
			  <form action="/search" method="get">
				  <input id="header_search" type="text" name="q" value="Search lncrnadb...">
			  </form>
		  </div>
	  </div>      {% block base_content %}  
	 
	  
{% endblock %}
	  <script type="text/javascript" 
      {% render_block "js" %}
	  </script>
  </body>

</html>
